<style>
  .main-content-wrap {
    max-width: 100% !important;
  }
</style>

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      macros: {
        vpar:    "v_\\parallel",
        pgrad:   "\\nabla^\\perp",
        tderiv:  ["\\frac{\\partial #1}{\\partial t}", 1],
        llderiv: "\\partial^\\parallel",
        psderiv: "\\partial_{\\psi_v}",
        pLap:    "\\Delta^\\perp",
        red:     ["{\\color{red}#1}", 1]
      }
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" async></script>
